[package]
name = "big_space"
version = "0.9.1"
edition = "2021"
description = "A floating origin plugin for bevy"
license = "MIT OR Apache-2.0"
keywords = ["bevy", "floating-origin", "large-scale", "space"]
repository = "https://github.com/aevyrie/big_space"
documentation = "https://docs.rs/crate/big_space/latest"

[features]
default = []
all = ["debug", "camera"] # Can't use all-features, integer type features are incompatible.
debug = ["bevy_gizmos", "bevy_color"]
camera = ["bevy_render", "bevy_time", "bevy_input"]
i8 = []
i16 = []
i32 = []
i64 = []
i128 = []

[dependencies]
tracing = "0.1" # Less deps than pulling in bevy_log
smallvec = "1.13.2" # Already used by bevy in commands
bevy_app = { version = "0.16.0-rc.1", default-features = false }
bevy_ecs = { version = "0.16.0-rc.1", default-features = false }
bevy_math = { version = "0.16.0-rc.1", default-features = false }
bevy_reflect = { version = "0.16.0-rc.1", default-features = false }
bevy_tasks = { version = "0.16.0-rc.1", default-features = false }
bevy_transform = { version = "0.16.0-rc.1", default-features = false, features = [
    "bevy-support",
] }
bevy_utils = { version = "0.16.0-rc.1", default-features = false }
bevy_platform_support = { version = "0.16.0-rc.1", default-features = false, features = ["alloc"] }
# Optional
bevy_color = { version = "0.16.0-rc.1", default-features = false, optional = true }
bevy_gizmos = { version = "0.16.0-rc.1", default-features = false, optional = true }
bevy_render = { version = "0.16.0-rc.1", default-features = false, optional = true }
bevy_input = { version = "0.16.0-rc.1", default-features = false, optional = true }
bevy_time = { version = "0.16.0-rc.1", default-features = false, optional = true }


[dev-dependencies]
big_space = { path = "", features = ["debug", "camera"] }
bevy = { version = "0.16.0-rc.1", default-features = false, features = [
    "bevy_scene",
    "bevy_asset",
    "bevy_gltf",
    "bevy_winit",
    "default_font",
    "bevy_ui",
    "bevy_pbr",
    "bevy_gizmos",
    "animation",
    "bevy_window",
    "x11",
    "tonemapping_luts",
    "multi_threaded",
] }
noise = "0.9"
turborand = "0.10"
criterion = "0.5"
bytemuck = "1.20"
bevy_hanabi = "0.14" # TODO: Update

[[bench]]
name = "benchmarks"
harness = false

[[example]]
name = "debug"
path = "examples/debug.rs"
doc-scrape-examples = false

[[example]]
name = "demo"
path = "examples/demo.rs"
required-features = ["i128"]
doc-scrape-examples = false


[[example]]
name = "error_child"
path = "examples/error_child.rs"
doc-scrape-examples = false

[[example]]
name = "error"
path = "examples/error.rs"
doc-scrape-examples = false

[[example]]
name = "infinite"
path = "examples/infinite.rs"
required-features = ["i8"]
doc-scrape-examples = false

[[example]]
name = "minimal"
path = "examples/minimal.rs"
doc-scrape-examples = false

# TODO: Uncomment once bevy_hanabi is updated
# [[example]]
# name = "particles"
# path = "examples/particles.rs"
# doc-scrape-examples = false

[[example]]
name = "planets"
path = "examples/planets.rs"
doc-scrape-examples = false

[[example]]
name = "split_screen"
path = "examples/split_screen.rs"
doc-scrape-examples = false
