[package]
name = "big_space"
version = "0.4.0"
edition = "2021"
description = "A floating origin plugin for bevy"
license = "MIT OR Apache-2.0"
keywords = ["bevy", "floating-origin", "large-scale", "space"]
repository = "https://github.com/aevyrie/big_space"
documentation = "https://docs.rs/crate/big_space/latest"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { version = "0.12", default_features = false }

[dev-dependencies]
bevy = "0.12"
bevy_framepace = { version = "0.14", default-features = false }

[features]
default = ["debug", "camera"]
debug = ["bevy/bevy_gizmos"]
camera = ["bevy/bevy_render"]
